In [1]:
import pandas as pd

In [2]:
import pandas as pd

df = pd.DataFrame({
'Nome': ['João', 'Maria', 'João', 'Pedro', 'Maria'],
'Idade': [20, 25, 20, 30, 25]
})

In [15]:
df.head(6)

    Nome  Idade
0   João     20
1  Maria     25
2   João     20
3  Pedro     30
4  Maria     25

In [17]:
df.drop_duplicates()

    Nome  Idade
0   João     20
1  Maria     25
3  Pedro     30